# Database
DATABASE_URL="postgresql://usuario:password@localhost:5432/jovafilms_db"

# Server
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=tu_clave_secreta_muy_segura_cambiala_en_produccion
JWT_EXPIRES_IN=24h

# CORS (múltiples orígenes separados por coma)
CORS_ORIGIN=http://localhost:5173,http://10.0.1.4
